.app-container {
  margin-left: 40px;
  width: 400px;
  height: 400px;
  border: 2px solid black;
  border-radius: 9px;
  .header-info {

    background-image: linear-gradient(to right, #005EB8, darkBlue);
    padding: 20px;
    color: white;
    font-weight: bold;
    border-radius: 7px;
    text-align: center;
  } 

  .enter-acct {
    text-align: center;
    .account-number {
      margin-top: 20px;
      margin-right: 10px;
    }
  }
  .screen {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  .action-buttons {
    display: flex;
    justify-content: space-evenly;
  }
  
  .withdrawl-container {
    text-align: center;
    .withdrawl-amount {
      margin-right: 10px;
    }
  }

  .check-balance-container {
    margin-top: 30px;
  }

  .more-actions-container {
    margin-top: 20px;
    .question {
      margin-bottom: 10px;
      text-align: center;
    }
  }
  
  .error-message {
    text-align: center;
    padding-top: 20px;
    color: red;
    font-weight: bold;
  }

  .action-info {
    text-align: center;
  }

  input {
    height: 22px;
  }

  button {

    padding: 6px 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
    border-radius: 6px;
    border: none;

    color: #fff;
    background: linear-gradient(180deg, #005EB8 0%, darkBlue 100%);
    background-origin: border-box;
    box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }

}

